.search {
  margin: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.App-logo {
  height: 15vmin;
  padding: 25px;
}

.search input {
  margin: 5px;
  padding: 10px;
}

.search button {
  font-size: 1.2rem;
  padding: 5px;
}

.searchbar-container {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  @media only screen and (max-width: 800px) {
    .searchbar-container {
      display: flex;
      flex-direction: column;
    }
    .App-logo {
      display: none;
    }
  }

.searchbar-container h4 {
    margin-left: 25px;
  }