.main-container {
    width: 70vw;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    margin-left: 2vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.error {
    width: 70vw;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}